[Unit]
Description=PingPing Daemon for Measuring Latency
After=network.target

[Service]
EnvironmentFile=/opt/PingPing/.env
ExecStart=/opt/PingPing/.venv/bin/python /opt/PingPing/pingping.py
WorkingDirectory=/opt/PingPing
Restart=on-failure

[Install]
WantedBy=multi-user.target
